# Runtime requirements
Authlib
fastapi[all]
uvicorn
gunicorn
httpx
itsdangerous
jinja2
python-multipart
azure-identity
azure-keyvault-secrets

# Linting/Tooling
black>=23.11.0
isort>=5.12.0
mypy>=1.6.1
pre-commit>=3.5.0
ruff>=0.1.5
pyright>=1.1.335

# Testing
pytest>=7.4.3
codecov>=2.1.13
pytest-cov>=4.1.0
pytest-benchmark>=4.0.0
